/* vyrazy - porovnavanie */
if 2 < 5 {

}
else {}

if (5.0 == 8.0) {} else {}

var a = 20
var b = 70

if (a >= b) {} else {}
if (a <= 20.0) {} else {}

while (a != 20) {}

if (a*b)>250.0 {} else {}

var one = "one"
var two = "two"
var three = "three"

if (two > three) {} else {}
while "tttt" != "tttt" {}

if ("a" + "aa" < "a" + two) {} else {}
