hello(text: "some text")

func my_func () -> Int
{ return 123}

func hello(text t : String) {

}

let _a : Int = 82
let _bbbb____15615 = my_func()

var c : Int = my_func()
func _nil_fn() -> Double?
{
    return nil
}


let d = _nil_fn()

if let d { hello(text : "not niL") }
else { hello( text:"is NIL"
  ) }
  