/* vstavané funkcie */

/* /* nedefinovana premenna */ var x = 12 */

var input = readDouble()

write()

write(25)

write("\n", x, " text dalej", nil) // x je zakomentovane

write ( "\tpokracuje na dalsi riadok\n\t...",  input )
