/* vstavané funkcie */

var x : Int /*= 12 */

var input = readDouble()

write()

write(25)

write("\n", x, " text dalej", nil) // x je neinicializovane

write ( "\tpokracuje na dalsi riadok\n\t...",  input )
